body {
    font-family: 'Dosis', sans-serif;
}

:root {
    
    --mainColor : #0f53ff;
    --secondColor : #5BD0F4;
    --thirdColor : #2f2e41;
    
}

.textMain {
    color: var(--mainColor) !important;
}

.textSecond {
    color: var(--secondColor) !important;
    
}

.textThird {
    color: var(--thirdColor) !important;
}

.listaIconoMovil {
    color: var(--mainColor) !important;
    border: none;
}

.bg-nav-custom {
    background-color: rgb(242, 242, 242);
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: 0.4s all;
}

.head {
    height: 100vh;
    min-height: 500px;
    width: 100vw;
    background-image: linear-gradient(white, transparent, white), url(./media/head2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-header {
    background-color: var(--secondColor);
    border-radius: 12px;
    color: white;
    padding: 5px 40px;
    
}

.border-card {
    border-left: 3px solid var(--secondColor) !important;
}

.border-img {
    border-bottom: 3px solid var(--mainColor);
    
}

.text-blur {
    animation-name: focus-titulo;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-direction: both;
}

@keyframes focus-titulo {
    0% {
        filter: blur(20px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.avatar {
    border-radius: 50px;
    border: solid 1px var(--secondColor);  
    
}

.btn-heart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--mainColor);
    background-color: white;
    position: absolute;
    top: 10px;
    right: 10px;   
}

.btn-heart:hover {
    background-color: var(--mainColor);
    transition: 0.2s;
}

.posicionFija {
    position: sticky;
    top: 80px;
}

.reserva {
    background-image: linear-gradient(white, transparent, white), url(./media/head2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.textoQuote {
    position: relative;
}

.textoQuote::before {
    position: absolute;
    content: open-quote;
    font-size: 60px;
    color: var(--secondColor);
    top: -25px;
    left: -25px;
}

.textoQuote::after {
    position: absolute;
    content: close-quote;
    font-size: 60px;
    color: var(--secondColor);
    bottom: -50px;
    right: -10px;
}


.textoReserva {
    color: white;
    text-shadow: 2px 2px 5px #080808;
    font-size: 60px;    
}

.btn-form {
    border-radius: 12px;
    background-color: var(--secondColor);
}

footer {
    background-color: var(--thirdColor);
}

