body {
    font-family: 'Dosis', sans-serif;
}

:root {
    
    --mainColor : #0f53ff;
    --secondColor : #5BD0F4;
    --thirdColor : #2f2e41;
    
}

.textMain {
    color: var(--mainColor) !important;
}

.textSecond {
    color: var(--secondColor) !important;
    
}

.textThird {
    color: var(--thirdColor) !important;
}

.listaIconoMovil {
    color: var(--mainColor) !important;
    border: none;
}